{% form_theme form 'PresupuestoBundle:Form:fields.html.twig' %}
<div id="modal_manodeobra" class="modal fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Agregar Presupuesto</h3>
    </div>
    <form method="post" action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" class="form-horizontal ajax" data-res="#res-ajax">
        <div class="modal-body">
            <div id="res-ajax"></div>
            {{ form_widget(form) }}
            <br/>
        </div>
        <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn">Cerrar</a>
            <input type="submit" class="btn btn-primary" value="Guardar" />
        </div>
    </form>
</div>
<script type="text/javascript" >
    $("#modal_manodeobra").modal();
    $("#modal_manodeobra form").validationEngine('attach', {promptPosition : "bottomLeft"});
</script>